# Python
*.pyc
__pycache__/

# Environment
.env

# SQLite DB
db.sqlite3

# Django media/static
/media/
/static/

# Logs
*.log

# VS Code or PyCharm configs (optional)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
